* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #000000;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

/* IMAGES */
/* COLOR VARIABLES */
/* FONT VARIABLES */
/* MIXINS */
/* Turn colored images to grayscale */
/* RESPONSIVE */
/* TYPOGRAPHY */
a, h1, h2, h3, h4, h5, p {
  letter-spacing: 1px;
  color: #fff; }

a {
  text-decoration: none; }

h1 {
  font-weight: 600; }

h2 {
  font-size: 2rem;
  font-weight: 600; }

h3 {
  font-size: 1.3rem;
  font-weight: 300; }

h4, h5 {
  font-weight: 400;
  font-size: 1rem; }

p {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2.2rem; }

.container {
  /*max-width: 1170px;*/
  margin-left: auto;
  margin-right: auto;
  /* End wrapper */ }
  .container .wrapper {
    /*display: grid;*/
    margin: 0 auto;
    display: block;
    width: 100%;
    /* End hero */
    /* End form-container */
    /* End organizer-container */
    /* End footer */ }
    .container .wrapper .hero {
      background: url("../images/revconf_hero.jpg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      /* End header-title */
      /* End location */ }
      .container .wrapper .hero .header-title {
        padding-top: 7rem;
        width: 80%;
        margin: 0 auto;
        height: auto;
        /* End @include respond-to($tablet-portrait)*/
        /* End @include respond-to($desktop)*/ }
        @media only screen and (max-width: 767px) {
          .container .wrapper .hero .header-title {
            margin-bottom: 2rem; } }
        @media only screen and (min-width: 1024px) {
          .container .wrapper .hero .header-title {
            margin-bottom: 2rem;
            width: 50%; } }
      .container .wrapper .hero .date, .container .wrapper .hero .location {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 1rem;
        /* End @include respond-to($tablet-portrait)*/
        /* End @include respond-to($desktop)*/ }
        .container .wrapper .hero .date h2, .container .wrapper .hero .location h2 {
          font-size: 1.3rem; }
        .container .wrapper .hero .date p, .container .wrapper .hero .location p {
          font-size: 1rem;
          line-height: 1.4rem;
          margin-bottom: 2rem;
          padding: 0 1.5rem; }
        @media only screen and (max-width: 767px) {
          .container .wrapper .hero .date h2, .container .wrapper .hero .date p, .container .wrapper .hero .location h2, .container .wrapper .hero .location p {
            margin: .5rem 0; } }
        @media only screen and (min-width: 1024px) {
          .container .wrapper .hero .date h2, .container .wrapper .hero .date p, .container .wrapper .hero .location h2, .container .wrapper .hero .location p {
            margin: .5rem 0; } }
    .container .wrapper .form-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 1rem;
      margin-top: 1rem;
      text-align: center;
      /* End h2.subheader */
      /* End form */ }
      .container .wrapper .form-container h2.subheader {
        font-family: "Exo", sans-serif;
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
        /* End @include respond-to($desktop)*/ }
        @media only screen and (min-width: 1024px) {
          .container .wrapper .form-container h2.subheader {
            font-size: 2rem; } }
        .container .wrapper .form-container h2.subheader span {
          padding-bottom: .5rem;
          border-bottom: 2px solid #fff; }
      .container .wrapper .form-container form {
        grid-column: 1/5;
        /* End name, email */
        /* End button */ }
        .container .wrapper .form-container form .name, .container .wrapper .form-container form .email {
          /* End input*/ }
          .container .wrapper .form-container form .name input, .container .wrapper .form-container form .email input {
            width: 250px;
            padding: .9rem;
            margin: .5rem 0;
            border: 0;
            font-size: 1rem;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px; }
            @media only screen and (min-width: 1024px) {
              .container .wrapper .form-container form .name input, .container .wrapper .form-container form .email input {
                width: 400px; } }
        .container .wrapper .form-container form .button {
          display: grid;
          justify-items: center;
          /* End a */ }
          .container .wrapper .form-container form .button a {
            text-align: center;
            width: 250px;
            font-weight: 600;
            color: #fff;
            background: #a80000;
            padding: .9rem .7rem .7rem .7rem;
            margin: 1.5rem 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            -moz-transition: background-color 0.5s;
            -o-transition: background-color 0.5s;
            -webkit-transition: background-color 0.5s;
            transition: background-color 0.5s; }
            .container .wrapper .form-container form .button a:hover {
              background: #ff4242; }
    .container .wrapper .organizer-container {
      width: 80%;
      margin: 0 auto;
      /* End organizer-text */
      /* End organizers */ }
      .container .wrapper .organizer-container .organizer-text {
        /*padding: 0 12rem;*/
        /* End @include respond-to($tablet-portrait)*/
        /* End @include respond-to($desktop)*/
        /* End h2.subheader */
        /* End p */ }
        @media only screen and (max-width: 767px) {
          .container .wrapper .organizer-container .organizer-text {
            margin: 3rem 0; } }
        @media only screen and (min-width: 1024px) {
          .container .wrapper .organizer-container .organizer-text {
            margin: 3rem 0; } }
        .container .wrapper .organizer-container .organizer-text h2.subheader {
          font-family: "Exo", sans-serif;
          font-size: 1.5rem;
          font-weight: 200;
          text-align: center;
          /* End @include respond-to($desktop)*/ }
          @media only screen and (min-width: 1024px) {
            .container .wrapper .organizer-container .organizer-text h2.subheader {
              font-size: 2rem; } }
          .container .wrapper .organizer-container .organizer-text h2.subheader span {
            padding-bottom: .5rem;
            border-bottom: 2px solid #fff; }
        .container .wrapper .organizer-container .organizer-text p {
          font-size: 1rem;
          line-height: 1.5rem;
          margin: 2rem 0;
          /* End @include respond-to($desktop)*/ }
          @media only screen and (min-width: 1024px) {
            .container .wrapper .organizer-container .organizer-text p {
              font-size: 1.3rem;
              line-height: 2rem; } }
      .container .wrapper .organizer-container .organizers {
        /* End @include respond-to($desktop)*/
        /* End box */ }
        @media only screen and (min-width: 1024px) {
          .container .wrapper .organizer-container .organizers {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center; } }
        .container .wrapper .organizer-container .organizers .box {
          margin-bottom: 2rem;
          display: grid;
          justify-items: center;
          /* End pic */
          /* End text */ }
          .container .wrapper .organizer-container .organizers .box .pic {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            margin-bottom: 1rem;
            /* End @include respond-to($tablet-portrait)*/
            /* End @include respond-to($tablet-landscape)*/
            /* End @include respond-to($desktop)*/ }
            @media only screen and (max-width: 767px) {
              .container .wrapper .organizer-container .organizers .box .pic {
                display: grid;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center; } }
            @media only screen and (min-width: 768px) and (max-width: 979px) {
              .container .wrapper .organizer-container .organizers .box .pic {
                display: grid;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center; } }
          .container .wrapper .organizer-container .organizers .box .text {
            /* End social-media */ }
            .container .wrapper .organizer-container .organizers .box .text h3, .container .wrapper .organizer-container .organizers .box .text h4, .container .wrapper .organizer-container .organizers .box .text h5 {
              margin: .1rem;
              text-align: center; }
            .container .wrapper .organizer-container .organizers .box .text .social-media {
              display: grid;
              grid-template-columns: repeat(3, 50px);
              padding: 1rem 0;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              /* End fa */ }
              .container .wrapper .organizer-container .organizers .box .text .social-media > div {
                display: grid;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center; }
              .container .wrapper .organizer-container .organizers .box .text .social-media .fa {
                color: #aaa;
                font-size: 1.5rem;
                -moz-transition: color 0.5s;
                -o-transition: color 0.5s;
                -webkit-transition: color 0.5s;
                transition: color 0.5s; }
                .container .wrapper .organizer-container .organizers .box .text .social-media .fa:hover {
                  color: #a80000; }
    .container .wrapper .footer {
      margin: 0 auto;
      padding: 2rem;
      background: url("../images/footer-pic.jpg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      /* End h2.subheader */
      /* End location-text */
      /* End location-links */
      /* End location-description */ }
      @media only screen and (min-width: 1024px) {
        .container .wrapper .footer {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          padding: 5rem 7rem;
          grid-column-gap: 5rem;
          grid-auto-rows: 100px;
          height: 700px; } }
      @media only screen and (min-width: 1200px) {
        .container .wrapper .footer {
          padding: 5rem 13rem; } }
      .container .wrapper .footer h2.subheader {
        font-family: "Exo", sans-serif;
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
        margin-bottom: 2rem;
        /* End @include respond-to($desktop)*/ }
        @media only screen and (min-width: 1024px) {
          .container .wrapper .footer h2.subheader {
            font-size: 2.5rem;
            text-align: left;
            grid-column: 1/3; } }
        .container .wrapper .footer h2.subheader span {
          padding-bottom: .5rem;
          border-bottom: 2px solid #fff; }
      .container .wrapper .footer .location-text {
        text-align: center; }
        .container .wrapper .footer .location-text p {
          font-size: 1rem;
          line-height: 1.5rem; }
          @media only screen and (min-width: 1024px) {
            .container .wrapper .footer .location-text p {
              text-align: left; } }
      .container .wrapper .footer .location-links {
        text-align: center;
        margin: 3rem 0;
        /* End a */ }
        @media only screen and (min-width: 1024px) {
          .container .wrapper .footer .location-links {
            grid-row: 3;
            text-align: left;
            padding-top: 2rem; } }
        .container .wrapper .footer .location-links .view-map, .container .wrapper .footer .location-links .reserve {
          margin: .5rem 0; }
        .container .wrapper .footer .location-links a {
          color: #fff;
          -moz-transition: color 0.5s;
          -o-transition: color 0.5s;
          -webkit-transition: color 0.5s;
          transition: color 0.5s;
          /* End hover */ }
          @media only screen and (min-width: 1024px) {
            .container .wrapper .footer .location-links a {
              color: #ff4242; } }
          .container .wrapper .footer .location-links a:hover {
            color: #ff4242;
            text-decoration: underline; }
            @media only screen and (min-width: 1024px) {
              .container .wrapper .footer .location-links a:hover {
                color: #ffa8a8; } }
      .container .wrapper .footer .location-description p {
        font-size: 1rem;
        line-height: 1.5rem; }

/* End container */
